{% load staticfiles %}

<style>
.slippymap {
border: 3px solid black;
}
        .navigator .highlight{
            opacity: 0.4;
            filter: alpha(opacity=40);
            border: 2px solid #900;
            outline: none;
            background-color: #900;
        }
        .highlight{
            opacity: 0.4;
            filter: alpha(opacity=40);
border: 1px solid #0A7EbE;
            outline: 10px auto #0A7EbE;
            background-color: white;
        }
        .highlight:hover, .highlight:focus{
            filter: alpha(opacity=70);
            opacity: 0.7;
            background-color: transparent;
        }
</style>

<div id="toolbarDiv" class="toolbar">
<span style='float:right'>
<form id="searchForm"> Search Gene: <input type="text" name=geneName required value="APOE">
<input type="submit" value="Search"> </form>
<span>
</div>
<div id="contentDiv" class="slippymap"></div>
<div id="overlaytexts"></div>

<script src="{% static 'slippy/js/openseadragon.min.js' %}"></script>
<script src="{% static 'slippy/js/openseadragon-viewerinputhook.js' %}"></script>
<script src="{% static 'slippy/js/openseadragon-imaginghelper.min.js' %}"></script>
<script src="{% static 'slippy/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'slippy/js/d3.min.js' %}"></script>
<script>

function bindOneToolTip(textIDString, overlayIDString) {
    var tip = jQuery(textIDString);
    //console.log(tip);
    //console.log(jQuery(overlayIDString));
    jQuery(overlayIDString).hover(function (e) {
        var mousex = e.pageX + 20, //Get X coodrinates
            mousey = e.pageY + 20, //Get Y coordinates
            tipWidth = tip.width(), //Find width of tooltip
            tipHeight = tip.height(), //Find height of tooltip
        //Distance of element from the right edge of viewport
            tipVisX = $(window).width() - (mousex + tipWidth),
        //Distance of element from the bottom of viewport
            tipVisY = $(window).height() - (mousey + tipHeight);
        if (tipVisX < 20) { //If tooltip exceeds the X coordinate of viewport
            mousex = e.pageX - tipWidth - 20;
        }
        if (tipVisY < 20) { //If tooltip exceeds the Y coordinate of viewport
            mousey = e.pageY - tipHeight - 20;
        }
        tip.css({top: mousey, left: mousex, position: 'absolute'});
        tip.show().css({opacity: 0.8}); //Show tooltip
    }, function () {
        tip.hide(); //Hide tooltip
    });
}

// getOffsets requests tile offsets file and put data into array.
// NOTE: the format of this file might change in the future.
function getOffsets() {
    var offsets = [];
    $.ajax({
        url: "{% static 'slippy/tile_offsets.txt' %}",
        success: function (data) {
            offsets = data.split(",");
        },
        async: false
    });
    return offsets;
}

function beginDragon(datafile1) {
    d3.csv(datafile1, function (error, data) {
        tilePixelSize = 15 * 2;
        borderPixelSize = 2;

        var offsets = getOffsets();
        var annotations = [];
        var yposition = 0;
        var idx = 0;
        data.forEach(function (d) {
            var idname = d.name.replace(/\./g, '');
            var longtext = '<div id="Text'.concat(idname, '" style="display:none;width:250px;background-color:#fff;"><p>Supertile ', d.name, ' has ', d.num, ' tiles</p></div>');
            jQuery("#overlaytexts").append(longtext);
            //console.log(yposition);
            annotations.push({
                id: idname,
                px: 0,
                py: yposition,
                width: tilePixelSize,
                height: tilePixelSize,
                className: 'highlight'
            });
            yposition += (tilePixelSize + borderPixelSize) * parseInt(offsets[idx]);
            idx++;
        });
        //console.log(yposition);
        //var chr = $("#chrPicker").val();
        var srcString = "{% static 'slippy/pngs/entire.dzi' %}";
        viewer = OpenSeadragon({
            id: "contentDiv",
            prefixUrl: "{% static 'slippy/js/openseadragon-images/' %}",
            tileSources: srcString,
            visibilityRatio: 0.7,
            showNavigator: true,
            navigatorPosition: 'BOTTOM_LEFT',
            navigatorHeight: 400,
            navigatorWidth: 80,
            //debugMode: true,
            toolbar: "toolbarDiv",
            overlays: annotations
        });

        //Begins an OpenSeadragon.Viewer
        //Adding url hyperlinks would be useful
        //Annotation of genes, etc

        imagingHelper = viewer.activateImagingHelper({});
        viewerInputHook = viewer.addViewerInputHook({hooks: [
            {tracker: 'viewer', handler: 'clickHandler', hookHandler: onViewerClick}
        ]});
        function onViewerClick(event) {
            //	event.preventDefaultAction = true;
        }

        jQuery(function () {
            //Tooltips
            /*setTimeout(function panAndZoomToOrigin() {
                viewer.viewport.zoomTo(viewer.viewport.getMaxZoom());
                //console.log(imagingHelper.imgWidth);
                //console.log(imagingHelper.imgHeight);
                viewer.viewport.panTo(new OpenSeadragon.Point(0, 0));
            }, 1000);*/
            setTimeout(bindtooltip, 2000);
        });

        function bindtooltip() {
            annotations.forEach(function (entry) {
                bindOneToolTip("#Text" + entry.id, "#" + entry.id);
            });
        }
    });
}

jQuery(document).ready(function () {
    var tools = jQuery("#toolbarDiv"),
        content = jQuery("#contentDiv"),
        h = jQuery(window).height();
    tools.css("height", 35);
    content.css("height", 900); //hardcode 120px to accomidate toolbar and navbar
    beginDragon("{% static 'slippy/TileNumSupertiles.csv' %}");

});
</script>

<script>
jQuery("#searchForm").submit(function(event){
// when more things are searchable, will want to interact more and
// listen to the event (ie. what's in the text input (geneName))
//
// pattern will be useful in the input to check and make sure it's a gene I can handle
//

	event.preventDefault();

	var offsets = [];
	jQuery.ajax({
		url: "{% static 'slippy/tile_iter.txt' %}",
		success: function (data) {
			offsets = data.split(",");
		},
		async: false
	});
	console.log(offsets[755]);

	var beginsupertile = 742*(tilePixelSize+borderPixelSize) - borderPixelSize;
	var endsupertile = 756*(tilePixelSize+borderPixelSize) - borderPixelSize;
	var tile = parseInt(offsets[755])*(tilePixelSize+borderPixelSize) - borderPixelSize;

	//Write mouseover text object
	jQuery('#overlaytexts').append('<div id="TextAPOE" style="display:none;width:250px;background-color:#fff;"><p>ApoE Gene. The third from last tile contains ApoE4 - C130R variant, which increases the risk of Alzheimers. This variant is found in 20-25% of people.</p></div>');

	viewer.addOverlay({
		id: "APOE",
		px: beginsupertile,
		py: tile,
		width: endsupertile-beginsupertile,
		height: tilePixelSize,
		className: 'highlight'
	});
	setTimeout(function() {
		bindOneToolTip("#TextAPOE", "#APOE");
	}, 2000);
	// var genePos = new OpenSeadragon.Point(tile + borderPixelSize, beginsupertile+borderPixelSize);
	var genePos = new OpenSeadragon.Point(beginsupertile + (756 - 742) * (tilePixelSize+borderPixelSize) / 2, tile);
	genePos = imagingHelper.dataToLogicalPoint(genePos);
	imagingHelper.centerAboutLogicalPoint(genePos);
});
</script>



