{% load staticfiles %}

<style>
	.slippymap {
		border: 3px solid black;
	}
	.navigator .highlight{
		opacity: 0.4;
		filter: alpha(opacity=40);
		border: 2px solid #900;
		outline: none;
		background-color: #900;
	}
	.highlight{
		opacity: 0.4;
		filter: alpha(opacity=40);
		border: 1px solid #0A7EbE;
		outline: 10px auto #0A7EbE;
		background-color: white;
	}
	.highlight:hover, .highlight:focus{
		filter: alpha(opacity=70);
		opacity: 0.7;
		background-color: transparent;
	}
	form {
		display: inline;
	}
</style>

<div id="toolbarDiv" class="toolbar">
	<span style='float:right'>
		|
		<form id="allGenes" method="get">
			<input type="button" value="Load All Genes">
		</form> 
		|
		<form id="searchForm" method="get"> Search for Gene:
			<input type="text" name="geneName" id="geneName">
			<input type="submit" value="Search">
		</form>
	</span>
</div>
<div id="contentDiv" class="slippymap"></div>
<div id="overlaytexts"></div>

<script src="{% static 'slippy/js/openseadragon.min.js' %}"></script>
<script src="{% static 'slippy/js/openseadragon-viewerinputhook.js' %}"></script>
<script src="{% static 'slippy/js/openseadragon-imaginghelper.min.js' %}"></script>
<script src="{% static 'slippy/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'slippy/js/d3.min.js' %}"></script>
<script src="{% static 'slippy/js/functions.js' %}"></script>

<script>
	//side effect: defines the variables "viewer," "tilePixelSize," "borderPixelSize"
	tilePixelSize = 15*2;
	borderPixelSize = 2;
	jQuery(document).ready(function () {
    	var tools = jQuery("#toolbarDiv"),
        	content = jQuery("#contentDiv"),
        	h = jQuery(window).height();
    	tools.css("height", 35);
    	content.css("height", 900); //hardcode 120px to accomidate toolbar and navbar
    	beginDragon("{% static 'slippy/TileNumSupertiles.csv' %}", tilePixelSize, borderPixelSize,
					"{% static 'slippy/offsets.txt' %}", "{% static 'slippy/pngs/entire.dzi' %}",
					"{% static 'slippy/js/openseadragon-images/' %}", "{% static 'slippy/iter.txt' %}");
		
	});
	/*var getAllGenes = function(){
		var keepGoing = confirm("Loading all Genes takes time. Continue?");
		if (keepGoing){
			var geneArray = [
//Note to self: need to add % for parser to recognize
				{ for gene in genes }
					{geneName:"{{ gene.gene_name }}",startCGF:{{ gene.startCGF }},endCGF:{{ gene.endCGF }}},
				{ endfor }
			];
			addAllGenes(geneArray, tilePixelSize, borderPixelSize, "{% static 'slippy/iter.txt' %}");
		}
	};*/
	var searchGene = function(){
		var geneName = jQuery("#geneName").val();
		if (geneName != ""){
			var data = { geneName:geneName};
			var args = { type:"GET", url:"{%url 'slippy:simplesearch' %}", data:data, complete:done };
			jQuery.ajax(args);
		}
		else {
			alert("Enter a gene to search");
		}
		return false;
	};
	var done = function(res, status) {
		if (status == "success") {
			var param = res.responseText.replace(/\s/g, '').split(';');
			addGeneAnnotation(param[0], parseInt(param[1]), parseInt(param[2]), parseInt(param[3]), parseInt(param[4]), tilePixelSize, borderPixelSize, "{% static 'slippy/iter.txt' %}");
		}
		else {
			alert(res.responseText);
		}
	}
	jQuery("#searchForm").submit(searchGene);
	//jQuery("#allGenes").click(getAllGenes);
</script>





