{% extends "base.html" %}
{% load staticfiles %}
{% load gene_to_tile_filters %}


{% block title %}Lightning: 154 PGP Genomes, unphased{% endblock %}
{% block style_extender %}
	.highlight{
		opacity: 0.4;
		filter: alpha(opacity=40);
		border: 1px solid #0A7EbE;
		outline: 10px auto #0A7EbE;
		background-color: white;
	}
	.highlight.broken{
		border: 1px solid #be4a0a;
		outline: 10px auto #be4a0a;
	}
	.highlight:hover, .highlight:focus{
		filter: alpha(opacity=70);
		opacity: 0.7;
		background-color: transparent;
	}
	.navigator .highlight{
		opacity: 0.4;
		filter: alpha(opacity=40);
		border: 2px solid #900;
		outline: none;
		background-color: #900;
	}
	#progressbar {
		margin-top: 20px;
	}
	.progress-label {
		font-weight: bold;
		text-shadow: 1px 1px 0 #fff;
	}
	.ui-dialog-titlebar-close {
		display: none;
	}
{% endblock %}
{% block additional_scripts %}
	<script src="{% static 'slippy/js/d3.min.js' %}"></script>
	<script src="{% static 'slippy/js/openseadragon.min.js' %}"></script>
	<script src="{% static 'slippy/js/openseadragon-viewerinputhook.min.js' %}"></script>
	<script src="{% static 'slippy/js/openseadragon-imaginghelper.min.js' %}"></script>
	<script src="{% static 'slippy/js/functions.js' %}"></script>

	<script>
		//Defines global variables "tilePixelSize" and "borderPixelSize" 
		//TODO: tilePixelSize and borderPixelSize input from django
		tilePixelSize = 15*2;
		borderPixelSize = 2;
		/* Search functionality for genes - run when main form is submitted
		/		If the text in the text input (#geneName) is empty, show an alert saying that
		/		Otherwise, submit the search to django using ajax. When done, run displayResults
		/ */
		var searchGene = function(){
			var geneName = jQuery("#geneName").val();
			if (geneName != ""){
				var data = { geneName:geneName};
				var args = { type:"GET", url:"{%url 'slippy:simplesearch' %}", data:data, complete:displayResults };
				jQuery.ajax(args);
			}
			else {
				alert("Enter a gene to search");
			}
			return false;
		};
		/* Specific Search functionality for genes - run after modal has been shown and the Load Genes button there has been pressed
		/		If no genes in the geneSelected radio/checkbox input form are checked,
		/			show an alert informing the 
		/		Otherwise, submit the search to django using ajax (specificsearch). When the ajax request is done, run displayResults
		/			After submitting the search, hide the modal and clear the radio/checkbox input form options
		/ */
		//TODO: add checkbox functionality
		var specificSearchGene = function() {
			var geneName = jQuery("input[name='geneSelected']:checked");
			if (geneName.length > 0){
				geneName = geneName.val();
				var args = { type:"GET", url:"{%url 'slippy:specificsearch' %}", data:{geneName:geneName}, complete:displayResults };
				jQuery.ajax(args);
				jQuery("#modal-form").modal('hide');
			}
			else {
				alert("Select a gene or press Cancel");
			}
			return false;
		};
		/* Display Found genes (if successful, otherwise show the response text from django)
		/		If the first parameter is "single," only one result was returned, display it 
		/		Otherwise, for each parameter, add a radio button named geneSelected
		/			Add all these radio buttons to #GeneOptions, the modal-body. Then show the modal.
		/ */
		//TODO: add checkbox functionality
		var displayResults = function(res, status) {
			if (status == "success") {
				var param = res.responseText.replace(/\s/g, '').split(';');
				if (param[0] == "single"){
					addGeneAnnotation(param[1], parseInt(param[2]), parseInt(param[3]), parseInt(param[4]), parseInt(param[5]), tilePixelSize, borderPixelSize, "{% static 'slippy/iter.txt' %}", true, param.slice(6));
				} else {
					var textToAppend = '';
					param.forEach(function(geneName) {
						if (geneName != "multiple" && geneName != ""){
							textToAppend = textToAppend.concat('<label><input type="radio" name="geneSelected" value="', geneName, '"> ', geneName, ' </label>');
						}
					});
					jQuery("#GeneOptions").append(textToAppend);
					jQuery("#modal-form").modal('show');
				}
			}
			else {
				alert(res.responseText);
			}
		};

		/* Load multiple genes - run when loadGenesReviewed is pressed
		/		Otherwise, submit the search to django using ajax (specificsearch). When the ajax request is done, run displayResults
		/			After submitting the search, hide the modal and clear the radio/checkbox input form options
		/ */
		var keepAddingOverlays = false,
			genesToDisplay,
			max_val_genes,
			curr_gene_i;
		var loadMultipleGenes = function() {
			jQuery("#progress-bar").attr('aria-valuenow', '0');
			jQuery("#progress-bar").text('0%');
			jQuery("#progress-bar").css("width", "0%");
			jQuery("#modal-loading-genes").modal('show');
			//Set button to loading
			jQuery("#loadGeneReviewed").button('loading');
			var filterName = "clinical"; //"clinical" or a source name
			var args = { type:"GET", url:"{%url 'slippy:loadall' %}", data:{filter:filterName}, complete:startDisplayingGenes };
			jQuery.ajax(args);
			return false;
		};
		var startDisplayingGenes = function(res, status) {
			if (status == "success"){
				genesToDisplay = res.responseText.replace(/\s/g, '').split('|');
				max_val_genes = genesToDisplay.length;
				keepAddingOverlays = true;
				curr_gene_i = 0;
				setTimeout(displayOneGene,10);
			} else {
				alert(res.responseText);
				jQuery("#modal-loading-genes").modal('hide');
			}
		};

		var displayOneGene = function() { 
			if (keepAddingOverlays) {
				var curr_progress = (Math.ceil((curr_gene_i/max_val_genes)*100)).toString();
				jQuery("#progress-bar").attr('aria-valuenow', curr_progress);
				jQuery("#progress-bar").text(curr_progress + "%");
				jQuery("#progress-bar").css("width", curr_progress+"%");
				if (genesToDisplay.length != 0) {
					var urlArray = [""];
					gene = genesToDisplay.pop();
					curr_gene_i ++;
					if (gene != ""){
						prop = gene.split(',');
						if (prop[3] != "None"){
							urlArray = prop[3].split(';');
						}
						startcoor = getTileCoor(parseInt(prop[1]));
						endcoor = getTileCoor(parseInt(prop[2]));	
						addGeneAnnotation(prop[0],startcoor[0],startcoor[2],endcoor[0],endcoor[2],tilePixelSize, borderPixelSize, "{% static 'slippy/iter.txt' %}", false, urlArray);
					}
					setTimeout(displayOneGene,10);
				} else {
					//No more genes left, hide the modal (successful query)
					jQuery("#modal-loading-genes").modal('hide');
				}
			} else {
				//Asked to stop by the user, hide the modal
				jQuery("#modal-loading-genes").modal('hide');
			}
		}
		/* Set up page
		/		Format the slippy map to fill the window, excluding 75px for toolbar 
		/		Add searchGene function to the Gene Search form (in navbar)
		/		Add specificSearchGene function to the button in modal-form
		/ 		Automatically clear the text in the Gene Search box when page is loaded
		/ 		Automatically clear the text in any search box when focus is brought to it
		/		Add loadMultipleGenes function to the Load Genes with Gene Review Articles button
		/		Whenever the loading-genes modal is hidden, clean the space
		/		Whenever the modal-form is hidden, clean the #GeneOptions
		/ */
		jQuery(document).ready(function () {
			map_width = 4000;
        	var content = jQuery("#contentDiv"),
        		h = jQuery(window).height();
    		content.css("height", h-170); 
			jQuery("#searchForm").submit(searchGene);
			jQuery("#loadSpecificGene").click(specificSearchGene);
			jQuery("#geneName:text").val('');
			jQuery("input:text").focus(function() { jQuery(this).val('');});
			jQuery("#loadGeneReviewed").click(loadMultipleGenes);
			jQuery("#modal-loading-genes").on('hidden.bs.modal', function() {
				keepAddingOverlays = false;
				genesToDisplay = [];
				curr_gene_i = 0;
				max_val_genes = 0;
				jQuery("#loadGeneReviewed").button('reset');
			});
			jQuery("#modal-form").on('hidden.bs.modal', function(){
				jQuery("#GeneOptions").empty();
			});
    		beginDragon("{% static 'slippy/TileNumSupertiles.csv' %}", tilePixelSize, borderPixelSize,
						"{% static 'slippy/offsets.txt' %}", "{% static 'slippy/pngs/entire.dzi' %}",
						"{% static 'slippy/js/openseadragon-images/' %}", "{% static 'slippy/iter.txt' %}");
			
			{% if genes %}
				var responseText = "";
				{% for gene_xref in genes %}
					responseText += "{{gene_xref.gene_aliases}},{{matching|get_tile_start_tx:gene_xref.gene_aliases}},{{matching|get_tile_end_tx:gene_xref.gene_aliases}},{{gene_xref.gene_review_URLs}}|";
				{% endfor %}
				jQuery("#progress-bar").attr('aria-valuenow', '0');
				jQuery("#progress-bar").text('0%');
				jQuery("#progress-bar").css("width", "0%");
				jQuery("#modal-loading-genes").modal('show');
				genesToDisplay = responseText.replace(/\s/g, '').split('|');
				max_val_genes = genesToDisplay.length;
				keepAddingOverlays = true;
				curr_gene_i = 0;
				setTimeout(displayOneGene,200);
			{% endif %}
		});
	</script>
{% endblock %}
{% block additional_divs %}
	<div id="overlaytexts"></div>

	<!--Modal for loading large numbers of genes: holds progress-bar and cancel button -->
	<div class="modal fade bs-example-modal-sm" id="modal-loading-genes" tabindex="-1" role="dialog" aria-labbeledby="modal-form-label" aria-hidden="true">
		<div class="modal-dialog modal-smd">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="modal-form-label">Loading Genes</h4>
				</div>
				<div class="modal-body">
					<div class="progress">
						<div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width:20px">
							0%
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for Specifying which Gene to actually load (multiple genes were returned) -->
	<div class="modal fade bs-example-modal-sm" id="modal-form" tabindex="-1" role="dialog" aria-labbeledby="modal-form-label" aria-hidden="true">
		<div class="modal-dialog modal-smd">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="modal-form-label">Multiple genes were found. Choose one from the following</h4>
				</div>
				<div class="modal-body">
					<div class="radio" id="GeneOptions"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="loadSpecificGene">Load Genes</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block navbar %}
	<form class="navbar-form navbar-right" role="search" id="searchForm" method="get">
		<div class="form-group">
			<input type="text" name="geneName" id="geneName" class="form-control" placeholder="Search for Gene">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<!-- automatically passes "clinical" value -->
	<form class="navbar-form navbar-right" method="get">
		<button  class="btn btn-default" id="loadGeneReviewed" data-loading-text="Loading Genes">Load Genes with GeneReview Articles</button>
	</form>
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url 'home:index' %}">Home</a></li>
	<li class="active"><a href="#">154 PGP Genomes, unphased</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div id="contentDiv"></div>
</div>
{% endblock %}

