{% extends "positions_view_base.html" %}
{% load staticfiles %}
{% load statistics_filters %}
{% load humanize %}

{% block title %}Lightning: Tile Library Statistics for Gene {{ gene.gene_aliases }}{% endblock %}

{% block breadcrumb_name %}Gene {{ gene.gene_aliases }}{% endblock %}

{% block page_header %}
	<div class="page-header">
		<h1>Tile Library Statistics: Gene {{ gene.gene_aliases }}</h1>
		<div class="btn-group">
			<a class="btn btn-default" href="{% url 'genes:specific' gene.id %}">Generic View</a>
			<a class="btn btn-default" href="{% url 'slippy:slippymap' %}?exact={{ gene.gene_aliases }}">Map View</a>
			<a class="btn btn-default disabled active" href="{% url 'tile_library:gene_view' gene.id %}">Tile Library View</a>
		</div>
	</div>
	{% if position_info.beg_path %}
		<p>Gene {{ gene.gene_aliases }} spans multiple paths: path {{ position_info.beg_path_hex }} ({{ position_info.chr_name }}{{position_info.beg_path_name}}) to path {{ position_info.end_path_hex }} ({{ position_info.chr_name }}{{position_info.end_path_name}}).
	{% else %}
		<p>Gene {{ gene.gene_aliases }} is in path {{ position_info.end_path_hex }} ({{ position_info.chr_name }}{{position_info.end_path_name}}).
	{% endif %}
		If an exon exists in the tile, the table row is highlighted in green.</p>
{% if not positions or positions|length == 0 %}
	<div class="alert alert-info" role="alert">
		The tiles composing this gene are not loaded into the Tile Library.
	</div>
{% endif %}
{% endblock %}


{% block show_upper_pagination %}{% if not positions or positions|length == 0 %}hidden{% endif %}{% endblock %}
{% block show_table %}{% if not positions or positions|length == 0 %}hidden{%endif%}{% endblock %}

{% block tbody %}
			{% for position in positions %}
				{% if position.has_exon %}
				<tr class="success">
				{% else %}
				<tr>
				{% endif %}
					<td><a href="{% url 'tile_library:tile_in_gene_view' gene.id position.tilename %}">{{ position }}</a></td>
					<td>{{ position|get_num_position_annotations|intcomma }}</td>
					<td>{{ position.num_var|intcomma }}</td>
					<td>{{ position.avg_pos_spanned|floatformat }}</td>
					<td>{{ position.max_pos_spanned|intcomma }}</td>
					<td>{{ position|get_avg_num_tile_annotations|floatformat }}</td>
					<td>{{ position|get_max_num_tile_annotations|intcomma }}</td>
					<td>{{ position|get_reference_length|intcomma }}</td>
					{% if position.num_var == 1 %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					{% else %}
					<td>{{ position.min_len|intcomma }}</td>
					<td>{{ position.avg_len|floatformat }}</td>
					<td>{{ position.max_len|intcomma }}</td>
					{% endif %}
				</tr>
			{% endfor %}
{% endblock %}

{% block show_lower_pagination %}{% if not positions or positions|length == 0 %}hidden{%endif%}{% endblock %}

