{% extends "positions_view_base.html" %}
{% load staticfiles %}
{% load statistics_filters %}
{% load humanize %}

{% block title %}Lightning: Tile Library Statistics for Path {{ path_hex|default:'0' }}{% endblock %}

{% block breadcrumb_name %}Path {{ path_hex|default:'0' }}{% endblock %}


{% block page_header %}
	<div class="page-header">
		<h1>Tile Library Statistics: Path {{ path_hex|default:'0' }}</h1>
	</div>
	{% if path %}
	<p>Note that current paths are chromosomal bands</p>
	<div class="table-responsive">
		<table id="StatTable" class="table table-striped">
			<thead>
				<tr>
					<th>hg19 Cytomap Band</th>
					<th>Path</th>
					<th>Total positions</th>
					<th>Average number of Genomic variants at one position</th>
					<th>Maximum number of Genomic variants at one position</th>
					<th>Average number of Tile variants at one position</th>
					<th>Maximum number of Tile variants at one Position</th>
					<th>Total Tile variants</th>
					<th>Average number of positions spanned</th>
					<th>Maximum number of positions spanned</th>
					<th>Average number of Genomic variants per tile variant</th>
					<th>Maximum number of Genomic variants per tile variant</th>
					<th>Minimum tile length (in bases)</th>
					<th>Average tile length (in bases)</th>
					<th>Maximum tile length (in bases)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ path_cyto }}</td>
					<td>Path {{ path_hex|default:'0' }}</td>
					<td>{{ path.position_num|intcomma }}</td>
					<td>{{ path.avg_annotations_per_position|floatformat|default:'-' }}</td>
					<td>{{ path.max_annotations_per_position|default:'-'|intcomma }}</td>
					<td>{{ path.avg_variant_val|floatformat|default:'-' }}</td>
					<td>{{ path.max_variant_val|default:'-'|intcomma }}</td>
					<td>{{ path.tile_num|intcomma }}</td>
					<td>{{ path.avg_num_positions_spanned|floatformat|default:'-' }}</td>
					<td>{{ path.max_num_positions_spanned|default:'-'|intcomma }}</td>
					<td>{{ path.avg_annotations_per_tile|floatformat|default:'-' }}</td>
					<td>{{ path.max_annotations_per_tile|default:'-'|intcomma }}</td>
					<td>{{ path.min_length|default:'-'|intcomma }}</td>
					<td>{{ path.avg_length|floatformat|default:'-' }}</td>
					<td>{{ path.max_length|default:'-'|intcomma }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% else %}
	<div class="alert alert-danger" role="alert">
		No statistics for this Tile Library are available. Use tile_library.generate_stats.initialize() to generate statistics for this tile library.
	</div>
	{% endif %}
{% endblock %}

{% block show_upper_pagination %}{% if not positions or positions|length == 0 %}hidden{% endif %}{% endblock %}
{% block show_table %}{% if not positions or positions|length == 0 %}hidden{%endif%}{% endblock %}

{% if positions %}
	{% block tbody %}
			{% for position in positions %}
				<tr>
					<td><a href="{% url 'tile_library:tile_view' chromosome_int path_int position.tilename %}">{{ position }}</a></td>
					<td>{{ position|get_num_position_annotations|intcomma }}</td>
					<td>{{ position.num_var|intcomma }}</td>
					<td>{{ position.avg_pos_spanned|floatformat }}</td>
					<td>{{ position.max_pos_spanned|intcomma }}</td>
					<td>{{ position|get_avg_num_tile_annotations|floatformat }}</td>
					<td>{{ position|get_max_num_tile_annotations|intcomma }}</td>
					<td>{{ position|get_reference_length|intcomma }}</td>
					{% if position.num_var == 1 %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					{% else %}
					<td>{{ position.min_len|intcomma }}</td>
					<td>{{ position.avg_len|floatformat }}</td>
					<td>{{ position.max_len|intcomma }}</td>
					{% endif %}
				</tr>
	
			{% empty %}
				<div class="alert alert-info" role="alert">
					No tiles are in this path. 
				</div>
			{% endfor %}
	{% endblock %}
{% endif %}

{% block show_lower_pagination %}{% if not positions or positions|length == 0 %}hidden{%endif%}{% endblock %}

