{% extends "base.html" %}
{% load staticfiles %}
{% load tile_filters %}

{% block title %}Lightning: Tile Library - Position {{ position_name }}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url 'tile_library:statistics' %}">Library</a></li>
	<li><a href="{% url 'tile_library:chr_statistics' chr_int %}">{{ chr_name }}</a></li>
	<li><a href="{% url 'tile_library:gene_view' gene.id %}">Gene {{gene.gene_aliases}}</a></li>
	<li class="active"><a href="#">Tile {{ position_name }}</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="page-header">
		<h1>Tile Position {{ position_name }} <small>(Path {{ path_hex }}, {{chr_name}}{{path_name}}, Gene {{gene.gene_aliases}})</small></h1>
		{% if gene_ends.min_tile < position_int %}	
		<a class="btn btn-default" href="{% url 'tile_library:tile_in_gene_view' gene.id position_int|add:'-1' %}">&laquo; Previous Tile Position</a>
		{% else %}	
		<a class="btn btn-default disabled" href="#">&laquo; Previous Tile Position</a>
		{% endif %}
		{% if gene_ends.max_tile > position_int %}			
		<a class="btn btn-default" href="{% url 'tile_library:tile_in_gene_view' gene.id position_int|add:'1' %}">Next Tile Position &raquo;</a>
		{% else %}	
		<a class="btn btn-default disabled" href="#">Next Tile Position &raquo;</a>
		{% endif %}
	</div>
{% if position %}
	{% if in_exon %}
	<h3>Exon Splicing Within Tile</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Strand</th>
					<th>Gene Description</th>
					<th>Total Number of Exons</th>
					<th>Number of Exons in Tile</th>
					<th>Exons (shown in green) or Tile with Tags</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>Tile: tags shown in blue</td>
					<td></td>
					<td></td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-info" style="width: {{pos_outline.0}}%"></div>
  							<div class="progress-bar progress-bar-warning" style="width: {{pos_outline.1}}%"></div>
							<div class="progress-bar progress-bar-info" style="width: {{pos_outline.2}}%"></div>
						</div>
					</td>
				</tr>
				
				{% for exon, gene in exons %}
				<tr>
					<td>{{gene.gene.strand|strand_pretty}}</td>
					<td>{{gene.description}}</td>
					<td>{{gene.gene.exon_count}}</td>
					<td>{{exon|length|add:"-1"}}</td>
					<td>
								<div class="progress">
									{% for i, j in exon %}
									<div class="progress-bar progress-bar-danger" style="width: {{i}}%"></div>
  									<div class="progress-bar progress-bar-success" style="width: {{j}}%"></div>
									{% endfor %}
								</div>
							
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
	<div class="alert alert-info" role="alert">
		<b>No piece of this tile is coding. All bases are introns, non-coding, or not translated for gene {{gene.gene_aliases}}.</b>
	</div>
	{% endif %}
<!------------------------------------------------------------------------------------------------------->
	{% if genome_variants|length != 0 %}
	<h3>Genome Variants located at this position:</h3>
	<p>Note: Genome Variants can be located on at most 2 positions (if they are on tags). For clarity, all genome variants are shown at each position. However, the variant ids shown below are relative to the tile position - if genome variant 1 is also on the previous position, it will not necessarily be genome variant 1 on the previous position page. We do not show the ids used by our database for readability.</p>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Genome Variant id</th>
					<th>Start Position within the tile</th>
					<th>End Position within the tile (Exclusive)</th>
					<th>dbSNP annotations (if applicable)</th>
					<th>Base Change</th>
					<th>Predicted Protein Changes (if applicable)</th>
					<th>Phenotypes (if applicable)</th>
					<th>Other annotations, non-parsed</th>
				</tr>
			</thead>
			<tbody>
				{% for variant in genome_variants %}
				<tr>
					<td>{{ forloop.counter }}</td>
					{% if variant.start_tile_position == position %}
						<td>{{ variant.start_increment }}</td>
					{% else %}
						<td>{{ variant.start_increment|get_increment:prev_ref_length }}</td>
					{% endif %}
					{% if variant.end_tile_position == position %} 
						<td>{{ variant.end_increment }}</td>
					{% elif variant.end_tile_position.tilename == position.tilename|add:"-1" %}
						<td>{{ variant.end_increment|get_increment:prev_ref_length }}</td>
					{% else %}
						<td>Continues to next tile</td>
					{% endif %}
					<td>{{ variant.names|aliases_pretty }}</td> <!-- href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{ snp_ref }}">{{ snp_ref }} -->
					<td>{{ variant|get_base_change }}</td>
					<td>{{ variant|get_protein_changes|default:'' }}</td>
					<td>TODO: link to genevieve</td>
					<td>{{ variant|get_other }}</td>
				</tr>
				{% endfor %}
			<tbody>
		</table>
	</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			<b>No Genome Variants are recorded in this population for this position. All variation is due to uncalled regions</b>
		</div>
	{% endif %}
	{% if spanning_tiles|length != 0 %}
	<h3>Spanning tile variants touching this position:</h3>
	<div class="table-responsive">
		<table id="StatTable" class="table table-striped">
			<thead>
				<tr>
					<th>Tile Name</th>
					<th>Number of Positions Spanned</th>
					<th>Starting Position</th>
					<th>Ending Position</th>
					<th>Tile Length (in bases)</th>
					<th>Genome Variants contained in this position</th>
					<th>dbSNP annotations</th>
					<th>Predicted Protein Changes (if applicable)</th>
					<th>Phenotypes</th>
				</tr>
			</thead>
			<tbody>
				{% for tilevar in spanning_tiles %}
				<tr>
					<td>{{ tilevar }}</td>
					<td>{{ tilevar.num_positions_spanned }}</td>
					<td>{{ tilevar.tile }}</td>
					<td>{{ tilevar.tile_id|add:tilevar.num_positions_spanned|add:"-1"|to_position_string }}</td>
					<td>{{ tilevar.length }}</td>
					{% if tilevar.genome_variants %}
					<td>{{ tilevar.genome_variants|list_variants:genome_variants }}</td>
					<td>{{ tilevar.genome_variants|get_all_aliases:genome_variants }}</td>
					<td>{{ tilevar.genome_variants|get_all_protein_changes:genome_variants }}</td>
					{% else %}
					<td></td>
					<td></td>
					<td></td>
					{% endif %}
					<td>TODO: link to genevieve</td>
				</tr>
				{% endfor %}
			<tbody>
		</table>
	</div>
	{% else %}
	<h3>No spanning tiles exist at this position.</h3>
	{% endif %}
	<h3>Tile variants at this position:</h3>
	<div class="table-responsive">
		<table id="StatTable" class="table table-striped">
			<thead>
				<tr>
					<th>Variant Value</th>
					<th>Start Tag</th>
					<th>Tile Length (in bases)</th>
					<th>Genome Variants</th>
					<th>dbSNP annotations</th>
					<th>Predicted Protein Changes (if applicable)</th>
					<th>Phenotypes</th>
					<th>End Tag</th>
				</tr>
			</thead>
			<tbody>
				{% for tile in tiles %}
				<tr>
					<td>{{ tile.variant_value }}</td>
					{% if forloop.first %}
						<td>{{ position.start_tag }}</td>
					{% else %}
						<td>{{ tile.start_tag|upper }}</td>
					{% endif %}
					<td>{{ tile.length }}</td>
					{% if tile.genome_variants %}
					<td>{{ tile.genome_variants|list_variants:genome_variants }}</td>
					<td>{{ tile.genome_variants|get_all_aliases:genome_variants }}</td>
					<td>{{ tile.genome_variants|get_all_protein_changes:genome_variants }}</td>
					{% else %}
					<td></td>
					<td></td>
					<td></td>
					{% endif %}
					<td>TODO: link to genevieve</td>
					{% if forloop.first %}
						<td>{{ position.end_tag }}</td>
					{% else %}
						<td>{{ tile.end_tag|upper }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			<tbody>
		</table>
	</div>
<!-- TODO: md5sums and sequences for the non-reference tile should probably be placed here, giving the table more room for references, etc
	 TODO: sort the annotations?-->
	{% else %}
	<div class="alert alert-danger" role="alert">
		This position (tile) is not populated in the current Tile Library.
	</div>
	{% endif %}
</div>
{% endblock %}

