{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BRCA Lightning: Fast Interaction with Personal Genome Project Data{% endblock %}

{% block breadcrumbs %}
	<li class="active"><a href="#">Help</a></li>
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1 class="text-center">Welcome to BRCA Lightning Help</h1>
	</div>
	<p class="lead text-center">This site is a work in progress and is open-source.
		Please contact us <a href="https://arvados.org/projects/arvados/wiki/IRC_and_Mailing_lists">here</a> with questions,
		unexpected behavior reports, and feature requests.
	</p>
	<hr>
	<h3>Why do some pages take a long time to load?</h3>
	<p>This is a prototype implementation of Lightning, so some queries take longer than expected. We are working on improving implementation. </p>
	<hr>
	<h3>Why do some pages freeze my browser?</h3>
	<p>Our API do not page results, so if a user requests over 5,000 or so bases, 5,000 bases * 174 people will be loaded into the window.
		This amount of information transfer will freeze a browser. We suggest interacting directly with the api to retrieve that many bases.
	</p>
	<hr>
	<h3>I can only find Chromosomes 13 and 17. Where are the others?</h3>
	<p>We haven't loaded those chromosomes into our database yet: again, this is a prototype implementation. </p>
	<hr>
	<h3>0-indexed or 1-indexed?</h3>
	<p>Our API's support both, but it is 0-indexed by default.</p>
	<hr>
  <h3>I have another question that isn't here.</h3>
	<p>Please contact us <a href="https://arvados.org/projects/arvados/wiki/IRC_and_Mailing_lists">here</a>!</p>

</div>
{% endblock %}
