<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}">
<html>
<title>PGP Beacon</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>PGP Beacon</h1>
  <div class=metanav>
    LIGHTNING || <a href="http://lightning-dev3.curoverse.com">Lightning Home</a> || <br/> 
    BEACON || <a href="{{ url_for('show_search') }}">beacon search</a> || 
    <a href="{{ url_for('show_people') }}">population info</a> ||
    <a href="http://ga4gh.org/#/beacon">beacons faq</a> ||
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %} {% endblock %}
</div>
</html>

