#Files
*.csv
*.pyc
*fj.gz
*fj

#Folders
lightning/slippy/static/slippy/pngs/*
lightning/slippy/static/slippy/pngs
lightning/loadgenomes/hidefixtures/*
lightning/loadgenomes/hidefixtures
lightning/loadgenomes/hide/*
lightning/loadgenomes/hide
lightning/loadgenomes/testfiles
lightning/loadgenomes/testfiles/*
lightning/loadgenomes/sql
lightning/loadgenomes/csvhide/*
lightning/loadgenomes/csvhide
lightning/src/*
lightning/src
lightning/src/
lightning/loadgenes/hide/*
lightning/loadgenes/hide

