#Files
*.csv
*.pyc
*fj.gz
*fj

#Folders
lightning/slippy/static/slippy/pngs/*
lightning/loadgenomes/hidefixtures/*
lightning/loadgenomes/hidefixtures
lightning/loadgenomes/hide/*
lightning/loadgenomes/hide
lightning/loadgenomes/sql

