{% extends "base.html" %}
{% load staticfiles %}
{% load statistics_filters %}

{% block style_extender %}
.wrap-btn {
    white-space: normal;
}
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url 'tile_library:statistics' %}">Library</a></li>
	<li><a href="{% url 'tile_library:chr_statistics' chromosome_int %}">{{ chromosome }}</a></li>
	<li class="active"><a href="#">{% block breadcrumb_name %}{% endblock %}</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	{% block page_header %}{% endblock %}
	
	<ul class="pagination {% block show_upper_pagination%}hidden{% endblock %}">
		{% if positions.has_previous %}
		<li><a href="?{% url_replace request.GET 'page' positions.previous_page_number %}">&laquo;</a></li>
		{% endif %}
		<li class="active"><a href="#">Page {{ positions.number }} of {{ positions.paginator.num_pages }}<span class="sr-only">(current)</span></a></li>
		{% if positions.has_next %}
		<li><a href="?{% url_replace request.GET 'page' positions.next_page_number %}">&raquo;</a></li>
		{% endif %}
	</ul>	
	<div class="table-responsive {% block show_table %}hidden{% endblock %}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown">Tile Position <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_tile' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_tile' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th>Number of Genomic variants at one position</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown"> Number of Tile Variants <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_var' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_var' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown"> Average number of positions spanned <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_avg_positions_spanned' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_avg_positions_spanned' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown"> Maximum number of positions spanned <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_max_positions_spanned' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_max_positions_spanned' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th>Average number of Genomic variants per tile variant</th>
					<th>Maximum number of Genomic variants per tile variant</th>
					<th>Reference tile length (in bases)</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown">Minimum Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_min_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_min_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown">Average Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_avg_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_avg_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default wrap-btn dropdown-toggle" data-toggle="dropdown">Maximum Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_max_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_max_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
			{% block tbody %}
			{% endblock %}
			</tbody>
		</table>
	</div>
	<ul class="pagination {% block show_lower_pagination %}hidden{% endblock %}">
		{% if positions.has_previous %}
		<li><a href="?{% url_replace request.GET 'page' positions.previous_page_number %}">&laquo;</a></li>
		{% endif %}
		<li class="active"><a href="#">Page {{ positions.number }} of {{ positions.paginator.num_pages }}<span class="sr-only">(current)</span></a></li>
		{% if positions.has_next %}
		<li><a href="?{% url_replace request.GET 'page' positions.next_page_number %}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}
