{% extends "base.html" %}
{% load staticfiles %}
{% load statistics_filters %}

{% block title %}Lightning: Tile Library Statistics for {{ chromosome_name }}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url 'home:index' %}">Home</a></li>
	<li><a href="{% url 'tile_library:statistics' %}">Library</a></li>
	<li class="active"><a href="#">{{ chromosome_name }}</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="page-header">
		<h1>Tile Library Statistics: {{ chromosome_name }}</h1>
	</div>
	<p>Note that current paths are chromosomal bands</p>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 The path pages below can take a while to load. We are sorry for the inconvienence and are working toward a better implementation.
	</div>
	<div class="table-responsive">
		<table id="StatTable"class="table table-striped">
			<thead>
				<tr>
					<th>hg19 Cytomap Band</th>
					<th>Path</th>
					<th>Total positions</th>
					<th>Total tiles</th>
					<th>Average number of variants</th>
					<th>Maximum number of variants</th>
					<th>Minimum tile length (in bases)</th>
					<th>Average tile length (in bases)</th>
					<th>Maximum tile length (in bases)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>{{ chromosome_name }}</td>
					<td>{{ chromosome_stats.position_num }}</td>
					<td>{{ chromosome_stats.tile_num }}</td>
					<td>{{ chromosome_stats.avg_variant_val|floatformat|default:'-' }}</td>
					<td>{{ chromosome_stats.max_variant_val|default:'-' }}</td>
					<td>{{ chromosome_stats.min_length|default:'-' }}</td>
					<td>{{ chromosome_stats.avg_length|floatformat|default:'-' }}</td>
					<td>{{ chromosome_stats.max_length|default:'-' }}</td>

				</tr>
				{% for path_int, path_hex, path_cyto, path in paths %}
				<tr>
					<td>{{ path_cyto }}</td>
					<td><a href="{% url 'tile_library:path_statistics' chromosome_int path_int %}">Path {{ path_hex }}</a></td>
					<td>{{ path.position_num }}</td>
					<td>{{ path.tile_num }}</td>
					<td>{{ path.avg_variant_val|floatformat|default:'-' }}</td>
					<td>{{ path.max_variant_val|default:'-' }}</td>
					<td>{{ path.min_length|default:'-' }}</td>
					<td>{{ path.avg_length|floatformat|default:'-' }}</td>
					<td>{{ path.max_length|default:'-' }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
