{% extends "base.html" %}
{% load staticfiles %}
{% load statistics_filters %}

{% block title %}Lightning: Tile Library Statistics for Gene {{ gene.gene_aliases }}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url 'home:index' %}">Home</a></li>
	<li><a href="{% url 'tile_library:statistics' %}">Library</a></li>
	<li><a href="{% url 'tile_library:chr_statistics' position_info.chr_int %}">{{ position_info.chr_name }}</a></li>
	<li class="active"><a href="#">Gene {{ gene.gene_aliases }}</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="page-header">
		<h1>Tile Library Statistics: Gene {{ gene.gene_aliases }}</h1>
		<div class="btn-group">
			<a class="btn btn-default" href="{% url 'genes:specific' gene.id %}">Generic View</a>
			<a class="btn btn-default" href="{% url 'slippy:slippymap' %}?exact={{ gene.gene_aliases }}">Map View</a>
			<a class="btn btn-default disabled active" href="{% url 'tile_library:gene_view' gene.id %}">Tile Library View</a>
		</div>
	</div>
	{% if position_info.beg_path %}
		<p>Gene {{ gene.gene_aliases }} spans two paths: path {{ position_info.beg_path_hex }} ({{ position_info.chr_name }}{{position_info.beg_path_name}}) to path {{ position_info.end_path_hex }} ({{ position_info.chr_name }}{{position_info.end_path_name}}).
	{% else %}
		<p>Gene {{ gene.gene_aliases }} is in path {{ position_info.end_path_hex }} ({{ position_info.chr_name }}{{position_info.end_path_name}}).
	{% endif %}
		If an exon exists in the tile, the table row is highlighted in green.</p>
	<div class="table-responsive">
		<table id="StatTable" class="table table-striped">
			<thead>
				<tr>
					<th>hg19 Cytomap Band</th>
					<th>Path</th>
					<th>Total positions</th>
					<th>Total tiles</th>
					<th>Average number of variants</th>
					<th>Maximum number of variants</th>
					<th>Minimum tile length (in bases)</th>
					<th>Average tile length (in bases)</th>
					<th>Maximum tile length (in bases)</th>
				</tr>
			</thead>
			<tbody>
				{% if position_info.beg_path %}
					<tr>
						<td>{{ position_info.beg_path_name }}</td>
						<td>Path {{ position_info.beg_path_hex }}</td>
						<td>{{ position_info.beg_path.position_num }}</td>
						<td>{{ position_info.beg_path.tile_num }}</td>
						<td>{{ position_info.beg_path.avg_variant_val|floatformat|default:'-' }}</td>
						<td>{{ position_info.beg_path.max_variant_val|default:'-' }}</td>
						<td>{{ position_info.beg_path.min_length|default:'-' }}</td>
						<td>{{ position_info.beg_path.avg_length|floatformat|default:'-' }}</td>
						<td>{{ position_info.beg_path.max_length|default:'-' }}</td>
					</tr>
				{% endif %}
				<tr>
					<td>{{ position_info.end_path_name }}</td>
					<td>Path {{ position_info.end_path_hex }}</td>
					<td>{{ position_info.end_path.position_num }}</td>
					<td>{{ position_info.end_path.tile_num }}</td>
					<td>{{ position_info.end_path.avg_variant_val|floatformat|default:'-' }}</td>
					<td>{{ position_info.end_path.max_variant_val|default:'-' }}</td>
					<td>{{ position_info.end_path.min_length|default:'-' }}</td>
					<td>{{ position_info.end_path.avg_length|floatformat|default:'-' }}</td>
					<td>{{ position_info.end_path.max_length|default:'-' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
		<ul class="pagination">
			{% if positions.has_previous %}
			<li><a href="?{% url_replace request.GET 'page' positions.previous_page_number %}">&laquo;</a></li>
			{% endif %}
			<li class="active"><a href="#">Page {{ positions.number }} of {{ positions.paginator.num_pages }}<span class="sr-only">(current)</span></a></li>
			{% if positions.has_next %}
			<li><a href="?{% url_replace request.GET 'page' positions.next_page_number %}">&raquo;</a></li>
			{% endif %}
		</ul>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tile Position <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_tile' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_tile' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Number of Tile Variants <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_var' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_var' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th>Reference tile length (in bases)</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Minimum Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_min_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_min_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Average Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_avg_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_avg_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
					<th><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Maximum Tile Length (in bases) <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="?{% url_replace request.GET 'ordering' 'desc_max_len' %}">Descending</a></li>
								<li><a href="?{% url_replace request.GET 'ordering' 'asc_max_len' %}">Ascending</a></li>
							</ul>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for position in positions %}
				{% if position.has_exon %}
				<tr class="success">
				{% else %}
				<tr>
				{% endif %}
					<td><a href="{% url 'tile_library:tile_in_gene_view' gene.id position.tilename %}">{{ position }}</a></td>
					<td>{{ position.num_var }}</td>
					<td>{{ position|get_reference_length }}</td>
					{% if position.num_var == 1 %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					{% else %}
					<td>{{ position.min_len }}</td>
					<td>{{ position.avg_len|floatformat }}</td>
					<td>{{ position.max_len }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<ul class="pagination">
		{% if positions.has_previous %}
		<li><a href="?{% url_replace request.GET 'page' positions.previous_page_number %}">&laquo;</a></li>
		{% endif %}
		<li class="active"><a href="#">Page {{ positions.number }} of {{ positions.paginator.num_pages }}<span class="sr-only">(current)</span></a></li>
		{% if positions.has_next %}
		<li><a href="?{% url_replace request.GET 'page' positions.next_page_number %}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}
