{% extends "base.html" %}
{% load staticfiles %}
{% load tile_filters %}

{% block title %}Lightning: Tile Library - Position {{ position }}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{# url 'home:index' #}">Home</a></li>
	<li><a href="{% url 'tile_library:statistics' %}">Library</a></li>
	<li><a href="{% url 'tile_library:chr_statistics' chr_int %}">{{ chr_name }}</a></li>
	<li><a href="{% url 'tile_library:path_statistics' chr_int path_int %}">Path {{ path_hex }}</a></li>
	<li class="active"><a href="#">{{ position }}</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="page-header">
		<h1>Tile Position {{ position }} <small>(Path {{ path_hex }}, {{chr_name}}{{path_name}})</small></h1>
	</div>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 The path page in the breadcrumbs can take a while to load. We are sorry for the inconvienence and are working toward a better implementation.
	</div>
	<div class="alert alert-info" role="alert">
		Note that annotations can be shared between tiles. 
	</div>
	<div class="table-responsive">
		<table id="StatTable" class="table table-striped">
			<thead>
				<tr>
					<th>Variant Value</th>
					<th>Start Tag</th>
					<th>Tile Length (in bases)</th>
					<th>Annotations</th>
					<th>dbSNP annotations</th>
					<th>Predicted Protein Changes</th>
					<th>Other annotations, non-parsed</th>
					<th>End Tag</th>
				</tr>
			</thead>
			<tbody>
				{% for tile in tiles %}
				<tr>
					<td>{{ tile.variant_value }}</td>
					{% if forloop.first %}
						<td>{{ position.start_tag }}</td>
					{% else %}
						<td>{{ tile.start_tag|upper }}</td>
					{% endif %}
					<td>{{ tile.length }}</td>
					<td>{% for annotation in tile|get_SNP_INDEL_annotations %}
							{{ annotation|get_readable_annotation_text }} <br>
						{% endfor %}						
					</td>
					<td>
						{% for annotation in tile|get_database_annotations %}
							{% for snp_ref in annotation|get_snps %} 
							<a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{ snp_ref }}">{{ snp_ref }}</a><br>
							{% endfor %}
						{% endfor %}
					</td>
					<td>					
						{% for annotation in tile|get_database_annotations %}
							{{annotation|get_aa|default:''}}<br>
						{% endfor %}
					</td>
					<td>					
						{% for annotation in tile|get_database_annotations %}
							{% for unparsed in annotation|get_other %}
							{{ unparsed}}<br>
							{% endfor %}
						{% endfor %}
					</td>
					{% if forloop.first %}
						<td>{{ position.end_tag }}</td>
					{% else %}
						<td>{{ tile.end_tag|upper }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			<tbody>
		</table>
	</div>
	<p class="lead">Reference Genome Sequence:</p>
	<ul class="list-unstyled">
		<li>{{ position.start_tag }}</li>
		{% for seq in tiles|get_reference_sequence  %}
			<li>{{seq}}</li>
		{% endfor %}
		<li>{{ position.end_tag }}</li>
	</ul>
<!-- TODO: md5sums and sequences for the non-reference tile should probably be placed here, giving the table more room for references, etc
	 TODO: sort the annotations?-->
</div>
{% endblock %}
