{% load staticfiles %}

<style>
.slippymap {
border: 3px solid black;
}
        .navigator .highlight{
            opacity: 0.4;
            filter: alpha(opacity=40);
            border: 2px solid #900;
            outline: none;
            background-color: #900;
        }
        .highlight{
            opacity: 0.4;
            filter: alpha(opacity=40);
border: 1px solid #0A7EbE;
            outline: 10px auto #0A7EbE;
            background-color: white;
        }
        .highlight:hover, .highlight:focus{
            filter: alpha(opacity=70);
            opacity: 0.7;
            background-color: transparent;
        }
</style>

<div id="toolbarDiv" class="toolbar">
<span style='float:right'>
<form id="searchForm"> Search Gene: <input type="text" name=geneName required value="APOE">
<input type="submit" value="Search"> </form>
<span>
</div>
<div id="contentDiv" class="slippymap"></div>
<div id="overlaytexts"></div>

<script src="{% static 'lightning/js/openseadragon.min.js' %}"></script>
<script src="{% static 'lightning/js/openseadragon-viewerinputhook.js' %}"></script>
<script src="{% static 'lightning/js/openseadragon-imaginghelper.min.js' %}"></script>
<script src="{% static 'lightning/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'lightning/js/d3.min.js' %}"></script>
<script src="{% static 'lightning/js/fullpage-chromosome-dragon4.js' %}"></script>

<script>
jQuery("#searchForm").submit(function(event){
// when more things are searchable, will want to interact more and
// listen to the event (ie. what's in the text input (geneName))
//
// pattern will be useful in the input to check and make sure it's a gene I can handle
//

	event.preventDefault();

	var offsets = [];
	jQuery.ajax({
		url: "/static/slippy/tile_offsets.txt",
		success: function (data) {
			offsets = data.split(",");
		},
		async: false
	});
	console.log(offsets[755]);

	var beginsupertile = 742*(tilePixelSize+borderPixelSize) - borderPixelSize;
	var endsupertile = 756*(tilePixelSize+borderPixelSize) - borderPixelSize;
	var tile = parseInt(offsets[755])*(tilePixelSize+borderPixelSize) - borderPixelSize;

	//Write mouseover text object
	jQuery('#overlaytexts').append('<div id="TextAPOE" style="display:none;width:250px;background-color:#fff;"><p>ApoE Gene. The third from last tile contains ApoE4 - C130R variant, which increases the risk of Alzheimers. This variant is found in 20-25% of people.</p></div>');

	viewer.addOverlay({
		id: "APOE",
		px: beginsupertile,
		py: tile,
		width: endsupertile-beginsupertile,
		height: tilePixelSize,
		className: 'highlight'
	});
	setTimeout(function() {
		bindOneToolTip("#TextAPOE", "#APOE");
	}, 2000);
	// var genePos = new OpenSeadragon.Point(tile + borderPixelSize, beginsupertile+borderPixelSize);
	var genePos = new OpenSeadragon.Point(beginsupertile + (756 - 742) * (tilePixelSize+borderPixelSize) / 2, tile);
	genePos = imagingHelper.dataToLogicalPoint(genePos);
	imagingHelper.centerAboutLogicalPoint(genePos);
});
</script>



