{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Lightning: Tile Library Statistics{% endblock %}

{% block breadcrumbs %}
	<li class="active"><a href="#">Library</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="page-header">
		<h1>Tile Library Statistics: Chromosomes</h1>
	</div>
	{% if stats|length == 0 %}
	<div class="alert alert-danger" role="alert">
		No statistics for this Tile Library are available. Use tile_library.generate_stats.initialize() to generate statistics for this tile library.
	</div>
	{% else %}
	<div class="table-responsive">
		<table id="StatTable"class="table table-striped">
			<thead>
				<tr>
					<th>Chromosome</th>
					<th>Total positions</th>
					<th>Average number of Genomic variants at one position</th>
					<th>Maximum number of Genomic variants at one position</th>
					<th>Average number of Tile variants at one position</th>
					<th>Maximum number of Tile variants at one Position</th>
					<th>Total Tile variants</th>
					<th>Average number of positions spanned</th>
					<th>Maximum number of positions spanned</th>
					<th>Average number of Genomic variants per tile variant</th>
					<th>Maximum number of Genomic variants per tile variant</th>
					<th>Minimum tile length (in bases)</th>
					<th>Average tile length (in bases)</th>
					<th>Maximum tile length (in bases)</th>

				</tr>
			</thead>
			<tbody>
				{% for statistic, chr_name in stats %}
				<tr>
					{% if forloop.first %}
					<td>Entire Genome</td>
					{% else %}
					<td><a href="{% url 'tile_library:chr_statistics' statistic.statistics_type %}">{{ chr_name }}</a></td>
					{% endif %}
					<td>{{ statistic.position_num|intcomma }}</td>
					<td>{{ statistic.avg_annotations_per_position|floatformat|default:'-' }}</td>
					<td>{{ statistic.max_annotations_per_position|default:'-'|intcomma }}</td>
					<td>{{ statistic.avg_variant_val|floatformat|default:'-' }}</td>
					<td>{{ statistic.max_variant_val|default:'-'|intcomma }}</td>
					<td>{{ statistic.tile_num|intcomma }}</td>
					<td>{{ statistic.avg_num_positions_spanned|floatformat|default:'-' }}</td>
					<td>{{ statistic.max_num_positions_spanned|default:'-'|intcomma }}</td>
					<td>{{ statistic.avg_annotations_per_tile|floatformat|default:'-' }}</td>
					<td>{{ statistic.max_annotations_per_tile|default:'-'|intcomma }}</td>
					<td>{{ statistic.min_length|default:'-'|intcomma }}</td>
					<td>{{ statistic.avg_length|floatformat|default:'-' }}</td>
					<td>{{ statistic.max_length|default:'-'|intcomma }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>
{% endblock %}

